:root {
    --blue: hsl(214,35%,37%);
    --medblue: hsl(202,46%,72%);
    --ltblue: hsl(182,82%,93%);
    --orange: hsl(12, 90%, 67%);
    --dkorange: hsl(6, 57%, 36%);
    --dkblue: hsl(218,23%,21%);
    --shadowblue: hsl(247, 23%, 21%);
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--blue);
}

.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.calc_form {
    background-color: var(--dkblue);
    border-collapse: collapse;
    padding: 1rem;
    width: 40%;
    border-radius: 2rem;
}

.calc_form div {
    display: flex;
    width: 100%;
}

input[type="text"] {
    width: 100%;
    padding: 5rem;
    border-style: none;
}

input[type="button"] {
    width: 25%;
    padding: 1.5rem;
    border-style: none;
    background-color: var(--dkblue);
    background-image: linear-gradient(to bottom right, var(--dkblue) 5%, var(--blue) 80%);
    filter: drop-shadow(1px 1px 4px var(--shadowblue));
    color: white;
    font-size: 20px;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

input[type="button"].symbol {
    background-image: linear-gradient(to bottom right, var(--dkorange), var(--orange)  80%);
}

input {
    margin: 0.3rem;
    border-radius: 1rem;
}


input[type="button"]:hover {
    cursor: pointer;
}

input[type="button"].span {
    width: 58%;
}

