:root {
    --shadowgray: hsl(0, 3%, 16%);
    --shadowblack: hsl(222, 19%, 14%);
    
    --btgreen: hsl(134, 51%, 92%);
    --ltgreen: hsl(151, 100%, 36%);
    --dkgreen: hsl(151, 100%, 17%);
    --ltgray: hsl(0, 0%, 34%);
    --dkgray: hsl(0, 0%, 9%);
    --white: hsl(0, 0%, 100%);

    --btnltgrayop: hsl(0, 0%, 63%);
    --btndkgrayop: hsl(0, 0%, 35%);
    --btnltgray: hsl(0, 0%, 39%);
    --btndkgray: hsl(0, 0%, 22%);

    --displaygray: hsl(0, 0%, 73%);
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--btgreen);
}

.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100vh;
}

.calc_form {
    background-color: var(--navyblue);
    background: linear-gradient(220.55deg, var(--ltgray) 0%, var(--dkgray) 100%);
    filter: drop-shadow(2px 2px 4px var(--shadowblack));
    border-collapse: collapse;
    padding: 1rem;
    width: 40%;
    border-radius: 2rem;
}

.calc_form div {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

input[type="text"], input:focus {
    width: 100%;
    border-style: none;
    outline: none;
}

#display_ops {
    padding: 2rem 1rem 0;
    font-size: 30px;
    color: var(--displaygray);
    cursor: default;
}

#display_ans{
    padding: 1rem 1rem 1rem;
}

.row1 {
    display: flex;
    flex-wrap: wrap;
}

.row1 input {
    color: var(--white);
    background-color: transparent;
    font-size: 4rem;
    text-align: right;
    width: 100%;
}

input[type="button"] {
    max-width: 25%;
    width: 25%;
    padding: 1.3rem;
    border-style: none;
    background: linear-gradient(220.55deg, var(--btnltgray) 0%, var(--btndkgray) 100%);
    background-position: left; 
    background-size: 200%;
    filter: drop-shadow(1px 1px 4px var(--shadowgray));
    color: var(--white);
    font-size: 1.1rem;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: background-position 0.3s ease-in-out;
}

input[type="button"].symbol {
    background: linear-gradient(220.55deg, var(--ltgreen) 0%, var(--dkgreen) 100%);
    background-position: left; 
    background-size: 200%;
}

input[type="button"].symrow {
    background: linear-gradient(220.55deg, var(--btnltgrayop) 0%, var(--btndkgrayop) 100%);
    background-position: left; 
    background-size: 200%;
}

input {
    margin: 0.3rem;
    border-radius: 1rem;
}

input[type="button"].equal {
    background-image: linear-gradient(to bottom right, var(--ltblue), var(--medblue) 80%);
}

input[type="button"]:hover {
    background-position: right; 
    filter: drop-shadow(1px 1px 4px var(--shadowblack));
    cursor: pointer;
}


.row6 .zero_span {
    min-width: 48%;
    width: 48%;
    max-width: 48%;
}

.row6 .eq_span {
    height: 55%;
    width: 25%;
}


@media screen and (max-width: 1050px) {
    .calculator {
        overflow: hidden;
        resize: none;
    }
    .calc_form {
        width: 70%;
    }

}

@media screen and (min-width: 1020px) {
    .row6 .zero_span {
        min-width: 48%;
    }
}

@media screen and (min-width: 1440px) {
    .row6 .zero_span {
        min-width: 48.5%;
    }
}
@media screen and (min-width: 2110px) {
    .row6 .zero_span {
        min-width: 49%;
    }
}