:root {
    /*
    --blue: hsl(214,35%,37%);
    --medblue: hsl(202,46%,72%);
    --ltblue: hsl(182,82%,93%);
    --orange: hsl(12, 90%, 67%);
    --dkorange: hsl(6, 57%, 36%);
    --dkblue: hsl(218,23%,21%);
    --shadowblue: hsl(247, 23%, 21%);

    --shadowblack: rgb(28, 32, 41);
    --black: rgb(34, 40, 49);
    --gray: rgb(57, 62, 70);
    --cyan: rgb(0, 173, 181);
    --ltwhite: rgb(238, 238, 238);
    */

    --shadowgray: hsl(0, 3%, 16%);
    --shadowblack: hsl(222, 19%, 14%);
    --navyblue: hsl(217, 46%, 19%);
    --blue: hsl(232, 35%, 43%);
    --white: hsl(220, 10%, 94%);
    --dkyellow: hsl(39, 86%, 52%);
    --yellow: hsl(46, 70%, 64%);

    --btgreen: hsl(134, 51%, 92%);
    --ltgreen: hsl(151, 100%, 36%);
    --dkgreen: hsl(151, 100%, 17%);
    --shadowgreen: hsl(151, 92%, 10%);
    --ltgray: hsl(0, 0%, 34%);
    --dkgray: hsl(0, 0%, 9%);
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--btgreen);
}

.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100vh;
}

.calc_form {
    background-color: var(--navyblue);
    background: linear-gradient(220.55deg, var(--ltgray) 0%, var(--dkgray) 100%);
    filter: drop-shadow(2px 2px 4px var(--shadowblack));
    border-collapse: collapse;
    padding: 1rem;
    width: 40%;
    border-radius: 2rem;
}

.calc_form div {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

input[type="text"], input:focus {
    width: 100%;
    border-style: none;
    outline: none;
}

#display_ops {
    padding: 2rem 1rem 0;
    font-size: 30px;
    color: rgb(185, 185, 185);
    cursor: default;
}

#display_ans{
    padding: 1rem 1rem 1rem;
}

.row1 {
    display: flex;
    flex-wrap: wrap;
}

.row1 input {
    color: white;
    background-color: transparent;
    font-size: 5rem;
    text-align: right;
    width: 100%;
}

input[type="button"] {
    max-width: 25%;
    width: 25%;
    padding: 1.3rem;
    border-style: none;
    background: linear-gradient(220.55deg, #646464 0%, #383838 100%);
    background-position: left; 
    background-size: 200%;
    filter: drop-shadow(1px 1px 4px var(--shadowgray));
    color: white;
    font-size: 1.1rem;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    transition: background-position 0.3s ease-in-out;
}

input[type="button"].symbol {
    background: linear-gradient(220.55deg, var(--ltgreen) 0%, var(--dkgreen) 100%);
    background-position: left; 
    background-size: 200%;
}

input[type="button"].symrow {
    background: linear-gradient(220.55deg, #a1a1a1 0%, #585858 100%);
    background-position: left; 
    background-size: 200%;
}

input {
    margin: 0.3rem;
    border-radius: 1rem;
}

input[type="button"].equal {
    background-image: linear-gradient(to bottom right, var(--ltblue), var(--medblue) 80%);
}

input[type="button"]:hover {
    background-position: right; 
    filter: drop-shadow(1px 1px 4px var(--shadowblack));
    cursor: pointer;
}


.row6 .zero_span {
    min-width: 48%;
    width: 48%;
    max-width: 48%;
}

.row6 .eq_span {
    height: 55%;
    width: 25%;
}